{% extends 'base_app/text_part/bad_end_page_base.html' %}
{% block title %}バッドエンド：奴隷人形 - {{ block.super }}{% endblock %}
{% block summary %}
    {{ block.super }}<br>
    たった少し変化させられただけで、闘志を失い魔道士に屈服してしまった{{ data.main_character_name }}。<br>
    魔道士はそれをあざ笑い、彼を恥ずかしい絶望的な姿に変える。<br>
    <br><br>
    屈辱の日々が始まる……。
{% endblock %}
{% block text_content %}
    <div>
        <h1 class="text_center">バッドエンド：奴隷人形</h1>
        <hr>
        <br>
        <br>
        　「はい……」<br/>
        <br/>
        　{{ data.main_character_name }}は剣を差しだし、教会のシスターのように貞淑に手を胸の前で組み、上目遣いで魔道士を見た。<br/>
        「勝ち目は……ありません……。俺は……あなたに……降参いたします……」<br/>
        「……違うよね？」<br/>
        　相手をいたぶる残虐な光を目にたたえ、魔道士は言った。<br/>
        「違うよね？　<span class="special_2_1">『俺』じゃなくて『あたし』もしくは『あたくし』だよね……？</span>」<br/>
        「そ、そんな！！」<br/>
        　あまりに恥ずかしい魔道士の提案。<br/>
        　拒否する気持ちが{{ data.main_character_name }}に沸き起こった。しかし、その気持は、何かさらに大きく支配的な気持ちによって、押しつぶされ、霧散した。<br/>
        <span class="special_1_1">「は、はい……」</span><br/>
        　気づけば、{{ data.main_character_name }}の口は勝手に動いていた。<br/>
        　<br/>
        　<br/>
        <span class="special_1_2">「あ、……あたしっ……<i class="heart pink icon"></i>……はっ…………<br>
            あなた様に…………完全に……降参……いたし……ます……っっ<i
                    class="heart pink icon"></i>」</span><br/>
        <br/>
        <br/>
        「あーあ……」<br/>
        　憐憫と軽蔑の混ざった優しげな眼差しで、魔道士は、自分を討ちに来たはずの剣士の無様を眺めた。<br/>
        「<span class="special_2_1">元から『雌の素質』はあるとは思ったけど……。ここまで『奴隷の素質』を持っていたとはね……</span>」<br/>
        「ど、奴隷の素質っっ？」<br/>
        　屈辱で頭がどうにかなりそうになる{{ data.main_character_name }}。<br/>
        「君に与えた変化の種は、わたしが思うに、常人ならここまで堕ちるほどのものではないとは思う。<span class="special_2_1">闘志に満ちた君の仮面の下にあるのは、憎いはずの相手に服従したいという情けない雌奴隷の顔だったってわけさ</span>」<br/>
        「<span class="special_1_1">あ……ああっ……んっ……</span>」　<br/>
        　{{ data.main_character_name }}に沸き起こる奮起の感情が、服従の快感に変換されていく。<br/>
        「君にはそんな荒々しい鎧よりも、<span class="special_2_1">ふわふわした柔らかいワンピースでも来て、男たちに身を捧げるのが似合っているさ」</span><br/>
        「！！！」<br/>
        「ちょうどいい。今、地下の研究室に、体だけを錬成した女の子のボディがあるんだ」<br/>
        <br/>
        　パチッ。<br/>
        　<br/>
        　魔道士は指を鳴らした。<br/>
        　その瞬間から、{{ data.main_character_name }}は意識を失い、彼の男としての人生は終りを迎えた。<br/>
        　<br/>
        <div class="ui horizontal blue divider">月日は経ち……</div>
        <br/>
        　<span class="special_1_2">ちゅっ……ちゅぶ……ぴちゅ……</span><br/>
        　<br/>
        　ポーダック王国の城下町。その最もいかがわしい通りのあるバーの地下。<br/>
        　そこで、夜な夜な、『奴隷人形』と呼ばれた少女たちが荒々しい男たちに奉仕をしている。<br/>
        　奉仕、すなわち、<span class="special_2_1">性奉仕</span>。<br/>
        　<br/>
        「<span class="special_1_2">んっ……んぶっ……</span>」<br/>
        　<br/>
        「おっ……いいぞ。新米のわりに上手じゃねえか」<br/><br>
        　自らの陰茎を舐めさせているチンピラが、その美しい少女の頭をなでた。<br/>
        　涙をためた目で、少女は悲しげに男を見た。<br/>
        　その表情が、男をますます興奮させる。<br/>
        「でもな、もっと奥までいけんだろ？　ほらほら」<br/>
        　ぐっ。<br/>
        「<span class="special_1_2">！！　んん～～～！</span>」<br/>
        　急に頭を陰茎の方向に押し付けられ、少女は思わず<span class="special_1_1">そのほっそりとした柔らかな腕で</span>男の毛むくじゃらの脚を押し、男の体から離れようとした。<br/>
        　しかし、<span class="special_1_1">少女の全身全霊の力を込めた抵抗は、男をただ楽しませるだけに終わる。<br/>
        　力の差は歴然だった。</span><br/>
        <br/>
        （ちくしょう……ちくしょう……）<br/>
        　{{ data.main_character_name }}は自らの無力と、それでも<span class="special_1_1">きゅんきゅんと疼いてしまう体を恨めしく思った</span>。<br/>
        <br/>
        <br/>
        　あの日、魔道士が彼の精神を、歳のほど16歳ほどの少女の体に移し替え、その上で強力な呪いを掛けた。<br/>
        　曰く、『奴隷人形の呪い』。<br/>
        　それは、<span class="special_2_1">誰かに何かを命令されたら、絶対に逆らうことができなくなるという悪夢の呪い</span>だった。<br/>
        <br/>
        「解呪の方法はない。わたしを殺す以外はね」<br/>
        　魔道士は笑いながら言った。<br/>
        <br/>
        　魔道士は彼を白い絹のワンピースに着替えさせた。女の子の衣服の柔らかな心地よさは、精神をますますオンナノコの方向に引っ張るに違いなかった。それでも{{ data.main_character_name }}は魔道士をにらみつけるしかできなかった。<br/>
        　<span class="special_1_1">抵抗しようとすると、体が震えてしまうのだ</span>。<br/>
        　<br/>
        　彼はすでに、戦士として終わっていた。<br/>
        <br/>
        　そして魔道士は{{ data.main_character_name }}を奴隷市場で売り飛ばした。その首に決して外すことのできない奴隷の首輪をつけて。<br/>
        　<br/>
        　<br/>
        （なんで……俺が……こんなヤツの……ち、チンコを……）<br/>
        　彼の小さな口の小さな舌を、男の陰茎がぞりぞりと犯す。<br/>
        「そろそろ出すぞ～。うっ……」<br/>
        <br/>
        　ドピュッッ。<br/>
        　<br/>
        　熱いものが{{ data.main_character_name }}の喉を流れていった。<br/>
        　<br/>
        （<span class="special_1_1">あ、ああっ……<i class="heart pink icon"></i></span>）<br/>
        <br/>
        　最初は本当に嫌だったけれど、回数を重ねるたびに男の精液を飲むことがそれほど嫌ではなくなってきていた。<br/>
        　いや、むしろそれが「美味しい」と感じるまでに。<br/>
        　<br/>
        　それもまた奴隷人形の呪いかもしれない。<br/>
        　しかし、{{ data.main_character_name }}にはもはやどうでも良かった。<br/>
        　<br/>
        「さて、次のお相手だ」<br/>
        <br/>
        　店の監督者が、彼を別の部屋に導く。<br/>
        　そこは大きな赤いベッドがあり、『本番用』の部屋なのだ。<br/>
        　<br/>
        「は、はい……」<br/>
        <br/>
        　従順に、彼はうなずき、自ら歩いていく。<br/>
        　これから待ち受ける痴態を想像し、<span class="special_1_1">下着がじゅん……と無様に濡れるのを感じながら</span>。<br/>
        　<br/>
        　男には戻れそうになかった。
        <br>
        <br>
        <h2>Game Over</h2>
        <br>
        <br>
        <hr>
        <h3 class="text_center"><span class=" text_emphasize"><a href="{% url 'base:status' %}" target="_blank"
                                                                 rel="noopener noreferrer">★ステータスを確認する★</a></span>
        </h3>
    </div>
{% endblock %}