{% extends 'base_app/bad_end_base.html' %}
{% block content %}
    <div id="Main" class="ui container">
        {#サイドバー#}
        <div class="ui grid stackable">
            {% include 'base_app/included_parts/right_arrow.html' %}
            <div class="four wide column">
                <div id="Summary_box">
                    {% block summary %}
                        <h3>&lt; ダイジェスト &gt;</h3>
                    {% endblock %}
                </div>
            </div>
            <div class="ten wide column">
                <div id="Normal_text_area">
                    {% block text_content %}
                    {% endblock %}
                </div>
            </div>
            {% include 'base_app/included_parts/left_arrow.html' %}
        </div>
    </div>
{% endblock %}