{% extends 'base_app/text_part/text_page_base.html' %}
{% block title %}2ページ - {{ block.super }}{% endblock %}
{% block summary %}
    {{ block.super }}
    敵と対峙した{{ data.main_character_name }}。<br/>
    自慢の{{ data.special_move }}を放つが、いとも容易に対処され、まるで歯が立たない。
    しかも魔道士は、なにやら怪しげな術を彼にかけ…？
{% endblock %}
{% block text_content %}
    <div>
        <h1 class="text_center">破られた自信、植え付けられた変化の種</h1>
        <hr>
        <br>
        <br>
        　　{{ data.main_character_name }}はとっさに距離をとった。<br/>
        目の前で怜悧な顔にニヤリと不敵な笑みを浮かべ、慇懃にお辞儀をする男。この男の顔こそ、任務を受けた際に見せられた写真にあった顔そのものだったからだ。{{ data.main_character_name }}は背筋にぞくりと嫌なしびれが走るのを感じた。<br/>
        <br/>
        （俺が……あっただけのこの男に対して……恐怖を感じている……？？）<br/>
        <br/>
        　理由はわからなかった。しかし、{{ data.main_character_name }}は本能的に魔道士の持つ人知を超えた闇の技術と常人離れした「欲求」を嗅ぎ取った。<br/>
        　その欲求は何なのか？<br/>
        　{{ data.main_character_name }}はその正体が何であれ、到底自分にとって受け入れがたいものであることは察知できた。<br/>
        　<br/>
        「庭で何をやっておられるのか？　と聞いているのですが」<br/>
        「しらばっくれるな！」腰から光の剣を引き抜き、距離を詰めながら{{ data.main_character_name }}は構えた。魔道士との命の取り合いのメソッドは心得ていた。<br/>
        「ふふん。だいたいどんな目的で我が館に訪れたのかは想像がつくよ。特に、君のような若くて情熱を迸らせるような目を持った男はね。しかも、軽装とはいえしっかり武装しているときている。<br/>
        わたしが思うに、目的は主に２つだ。一つは……」<br/>
        「自分がなぜ討たれるのかということは、分かっているのか？」{{ data.main_character_name }}は静止した。<br/>
        　この位置なら俺が動くほうがヤツが指先から呪文を放つよりも遥かに早い。全力で{{ data.special_move }}をぶつけてやる。{{ data.main_character_name }}はそう考えた。<br/>
        　そして彼は気づかなかった。己の足元で植物がぐねぐねと、僅かな、不自然なうねりを呈している様子を。<br/>
        「おや、最後まで喋らせてくれないのか？　<br/>
        くく。わたしがどうして殺されなければならないんだ。なにか君たちの君主にご迷惑でもかけたのかい？」<br/>
        「この西の地の誘拐事件数……」<br/>
        「ん？」<br/>
        「顕著に多いんだよ。しかもお前の屋敷に近ければ近いほど、グラフにしたらそこそこにきれいな同心円状が描けるかもしれないと思うほどにな」<br/>
        「それが、なにか？」魔道士はあくまで余裕の様子だった。<br/>
        「お前が怪しげな魔物と取引をしているという証拠も有る。ユスザ町の人々が目撃したんだ。屋敷の玄関から屈強な獣人を連れた炎のように赤い肌の『紳士』が出てくるのを」<br/>
        「どれも間接証拠に過ぎんねえ」魔道士は鼻で笑った。ベージュのコートの端がはためいた。<br/>
        「民主的な裁判を求める、言っても受け入れてくれないのだろうね」<br/>
        「お前がここで、まるで神に誓うように、自分の罪を洗いざらい告白するというのなら……」{{ data.main_character_name }}は少しだけ顔を緩ませた。「殺しはしない。法務官の手に委ねるだけだ」<br/>
        「…………できないね」<br/>
        　{{ data.main_character_name }}は息を呑んだ。一瞬のうちに魔道士の手には杖が握られていた。<br/>
        「それにわたしが信じているのは、君たちの信じる神様じゃないんだよ」<br/>
        　{{ data.main_character_name }}は剣を振りかぶり、魔道士に向けて振り下ろす。<br/>
        「くらえ！　{{ data.special_move }}」<br/>
        　しかし、{{ data.main_character_name }}の体はそこで止まってしまった。<br/>
        　一歩を踏み出すことができない。<br/>
        　顔を下に向けると、漆黒の、ツルのような植物が彼のブーツをがんじがらめにしていた。<br/>
        　うねうねと動くツルはブーツから這い上がり、彼のふとももまで達していた。<br/>
        （な……に？）<br/>
        　若くても死線を幾度も超えた{{ data.main_character_name }}は、次の策を頭の中で練り直すことができた。<br/>
        　しかしそれをする間の隙が致命的になることを、魔道士は知っていた。<br/>
        「ウィンド！」<br/>
        　螺旋状に回転する風の刃が、{{ data.main_character_name }}の鎧と、その下のインナーに包まれた肌を切り刻んだ。<br/>
        「ぐぁ！」<br/>
        　吹き飛ばされて地面に転がる{{ data.main_character_name }}を見て、魔道士は邪悪な笑みを浮かべて近づいた。<br/>
        　その笑みは、{{ data.main_character_name }}がかつて見たこともないような異様な雰囲気を帯びていた。{{ data.main_character_name }}の背中に再びぞくりと嫌なしびれが走る……。<br/>
        「さて、君、よく見るとなかなか美しい顔をしているじゃないか。それに、体つきも整っている」<br/>
        「何を、言っているんだ……」<br/>
        　{{ data.main_character_name }}は自分の容姿には興味など無かった。剣士は剣の腕がすべて。それを基本原則にしてこの世の中を歩いていくんだ。そう思っていた。<br/>
        　だから、いきなり魔道士にそう言われ、腹が立つよりもむしろ面食らってしまった。<br/>
        「剣士で君のような子はあまりいないよ。大抵は<br/>
        ……よし、気に入った。ちょっとおもしろいことをしてあげよう」<br/>
        <br/>
        　魔道士は杖に力を込めた。<br/>
        　精霊が宿っていたと思われる老齢の樹木から切り出したような杖。その先端に、ピンク色のもやのようなものが集まっていた。<br/>
        「これを、今から君に……」<br/>
        「や、やめろ……」<br/>
        　{{ data.main_character_name }}は本能的に察した。これを食らったら自分の一部分が失われてしまう。いや、自分の一部分が、なにか別のものに『置き換えられてしまう』かのような……！<br/>
        　しかし、彼の内心を裏切るように、冷酷に魔道士の腕は、彼の胸の、鎧が破断した隙間に近づいていく。<br/>
        「やめろぉーー！」<br/>
        <br/>
        　ぷちゅ。<br/>
        　<br/>
        　どこか甘い優しい音とともに、ピンク色の波動が{{ data.main_character_name }}の体を伝わっていく。<br/>
        　<br/>
        　<br/>
        「あんっっ！」<br/>
        <br/>
        <br/>
        （！　な！？）<br/>
        <br/>
        　その甘い悲鳴を、まさか自分があげたものだとは{{ data.main_character_name }}は思わなかった。それに思いたくなかった。<br/>
        　どこかうわずった、力の抜けた、『女の子の喘ぎ』のような声を……<br/>
        　<br/>
        「くく。反応は上々♪　やっぱり君は『素質』があったね」<br/>
        （ちくしょう……）<br/>
        　魔道士にされた何かを恐れながら、その効力が十分に発揮する前に再び戦闘態勢に入ろうとする{{ data.main_character_name }}<br/>
        　体を起こすが、どこかがおかしい……<br/>
        　体幹が定まらない感じがする。<br/>
        「なんだ？　剣士くん。そのポーズは」<br/>
        「え？」<br/>
        　{{ data.main_character_name }}は驚いた。脚が内股に曲がり、肘を曲げ、きゅっと可愛く体を縮めてしまっている。剣士の戦闘態勢としてはありえない構えだった。<br/>
        「ははは、その格好はまさかいまから戦う姿勢ではあるまい。わたしと楽しくダンスでも踊りたいのかな？」<br/>
        「だ、黙れ！！　馬鹿野郎！」<br/>
        　顔を染めた{{ data.main_character_name }}は思わず悪態をつく。<br/>
        「そのピンク色に染まった頬も、かわいいよ、剣士くん」<br/>
        「！？」<br/>
        <br/>
        　きゅん……<br/>
        　<br/>
        　魔道士の言葉に、なぜか胸がさわいでしまう。<br/>
        （なんだ……なんだこれは！）<br/>
        　{{ data.main_character_name }}は果てしなく当惑した。今まで呪術を食らうことは幾度かあったが、このような奇妙な呪いは初めてだった。<br/>
        　心だけではない。剣士の構えを取り直したはいいものの、なぜか脱力感が激しい。油断すると握る手から光の剣が取り落ちてしまいそうだった。<br/>
        「さて、剣士くん……」<br/>
        　もはや余裕の表情で魔道士は誘うように言葉を投げかけた。<br/>
        「わたしを討伐するんだろう？　いいよ、得意の技で斬りつけてきなさい」<br/>
        「くっ……」<br/>
        　自分が本調子とは程遠いことを自覚しながらも、取れる選択肢は{{ data.main_character_name }}には無かった。何故か今、相手はひどく油断している。今なら一撃のもとに勝負を決めることができると確信できた。<br/>
        　精一杯の力を込め、{{ data.main_character_name }}は魔道士に斬りかかる。<br/>
        　<br/>
        　<br/>
        「喰らいなさい！　ラブリィ<i class="heart pink icon"></i>{{ data.special_move }}アタック！！」<br/>
        <br/>
        <br/>
        　以前の{{ data.main_character_name }}とは思えない、まるで18歳のなりたての新米兵士のようなへなへなとした剣筋の一撃は、まるで子供と遊ぶ大人のように他愛もなく魔道士にかわされてしまった。<br/>
        （え……え……？）<br/>
        　{{ data.main_character_name }}は信じられなかった。<br/>
        　まず、先程と同じように、どこかうわずった、力の抜けた、情けない掛け声をあげてしまったこと。かつて彼が敵と対峙して、そのような馬鹿げた声を出すことは決してなかった。<br/>
        　さらに、ありえない恥ずかしい言葉を口にしてしまったこと。<br/>
        　そして、確実に仕留めるはずだった剣は、なんの力もなく、魔道士の服すらかすめることなく虚しく空を切ってしまった。<br/>
        （な……これは……なんなんだ！<br/>
        俺は一体どんな呪術を受けてしまったんだ！）<br/>
        「くっくっく！　傑作だなこれは」<br/>
        　楽しくてたまらないという調子で、顎に手を当て魔道士は笑った。<br/>
        「最高じゃないか！　剣士くんのはずの君が『ラブリィ{{ data.special_move }}アタック』だって？」<br/>
        「う、うるさい！」<br/>
        　{{ data.main_character_name }}はたまらず悪態をついた。しかし、その言葉すら、どこか力が無く、甘えたような調子になってしまう。<br/>
        　屈辱だった。<br/>
        「どうやらやっぱり君は『素質』があったらしい。わたしが『種』を植え付けただけでこうなるとは……。<br/>
        聞くが、戦う気力もどんどん失われているんじゃないか？　わたしに『敵わない』という気持ちが湧き上がりつつあるんじゃないか？」<br/>
        「そ、そんなこと……」<br/>
        <br/>
        　しかし、彼の中で、急速にしぼむなにかがあった。<br/>
        　それは目の前の男の前に剣を差し出し、心から屈したい、という感情だった。剣士である{{ data.main_character_name }}にとってあってはならない感情であった。<br/>
        　<br/>
        （だ、だめ……気持ちを強く持って！　俺はヤツを倒さなければ……）<br/>
        　まるで女の子のように考えてしまうことに、気を配る余裕はそのときの{{ data.main_character_name }}にはなかった。<br/>
        　<br/>
        「さて、聞こう。君はわたしに服従するか？　もしそうしなければ、命がある保証はないと思っていただこう」<br/>
        　もはや目の前の剣士が実力として敵ではないと確信している口調で、魔道士は言い放った。<br/>
        　<br/>
        「くっっ…………」
        <br>
        <br>
        <hr>
        <h3 class="text_center"><span class=" text_emphasize"><a href="{% url 'base:status' %}" target="_blank"
                                                                 rel="noopener noreferrer">★ステータスを確認する★</a></span>
        </h3>
        <p>次に進むために選択肢を選んでください。</p>
        <div class="ui ordered list">
            <h3><a class="item transition_link" href="{% url 'base:content_pages' page_num='3' %}">魔道士の言葉になんて屈するか！</a>
            </h3>
            <h3><a class="item transition_link"
                   href="{% url 'base:bad_end_pages' bad_end_name='slave_doll' %}">服従して剣を差し出す。</a></h3>
        </div>
    </div>

{% endblock %}