{% extends 'base_app/text_part/text_page_base.html' %}
{% block title %}1ページ - {{ block.super }}{% endblock %}
{% block summary %}
    {{ block.super }}
    悪い噂の絶えない魔道士を討伐せんと旅立った{{ data.main_character_name }}。
    <br><br>
    無事任務を果たすことができるのか……。
{% endblock %}
{% block text_content %}
    <div>
        <h1 class="text_center">邂逅</h1>
        <hr>
        <br>
        <br>
        　ポーダック王国の都市部から山を超えて西、土地の言葉で「白き風」と言う名の鋭い葉の樹木がさざめく中、{{ data.main_character_name }}はとても静かな気持ちで居た。<br/>
        　木々の挟むぬかるむ道を抜けた先の崖、その真下に、彼が討伐任務を受けた魔道士が住んでいる屋敷が有る。ただの無辜な小市民の魔道士（小市民性と魔道士という存在の背徳性は、ある意味相容れないのかもしれないが）ならば、
        {{ data.main_character_name }}は決して、討伐などという物々しい言葉で飾られたこの任務を引き受けようとは思わなかっただろう。
        <br/>
        　 <br/>
        <br/>
        　その魔道士には黒い噂が絶えなかった。都市部から離れ、やや牧歌的な雰囲気さえ漂うこの西の地からすら噂が聞こえてくるのだから、その真実性も相当なものであるだろうと、旅立ちの際に酒場で同僚の王国防衛隊剣士が口にしたことを
        {{ data.main_character_name }}は思い返した。
        <br/>
        「でも、噂には尾ひれがつくものだろ？」と{{ data.main_character_name }}はぬるい琥珀色の液体が入ったグラスを眺め、お世辞にも高級とは言えないその酒場の喧騒を楽しみながら同僚に向かって言葉を返した。
        <br/>
        「そういう油断がルネズナー先輩のような失態を招くんだぜ？」<br/>
        「ルネ先輩がなんだって？」<br/>
        「あの人はこの前、城下町に攻め入って撃退された獣人共の取り押さえの任で副隊長をしてただろ？」<br/>
        「うん。でも、あの事件は……」<br/>
        「その時から、あの人は帰ってこないんだよ。しかもさ、獣人共の消えた先っていうのが……」赤いどろっとしたタレに包まれたシュリンプを頬張りながら、同僚は怪しむ心を隠さずに言った。<br/>
        「西の方だということ？」<br/>
        「当たりさ」<br/>
        「それがあの魔道士と関係していると？」<br/>
        「だろうよ。ヤツは人さらい、暗殺者、占い師とも言われてるし、どちらにせよろくでなしに違いないや。さらには、人体改造に手を染めているという噂もあるんだぜ？」<br/>
        「じ、人体改造？」さすがの{{ data.main_character_name }}も怪訝さを隠せずに言った。<br/>
        「そうさ、人体改造さ…………」<br>
        　そう言って、同僚はもう一杯あんず酒を注文した。<br/>
        　<br/>　<br/>
        　灰色の象を連想させる屋敷。<br/>
        　正面突破するつもりは当然{{ data.main_character_name }}には無かった。隙の大きそうな裏口や庭から、使用人たちの目をかいくぐってターゲットを討つつもりだった。<br/>
        　ただ、怪しい術を使うその男が、屋敷に、闖入者に対しての罠を仕掛けていないという保証は限りなく薄かった。<br/>
        　（そこでだ……）<br/>
        　{{ data.main_character_name }}は鎧のインナーのポケットに忍ばせたチャームを確かめた。<br/>
        　それは「輝く闘志の証」と呼ばれ、王国防衛隊で特別優秀な成績を収めた者に授けられるアクセサリだった。真に勇敢で強健な戦士が所有する資格を持つチャーム。それは、どんな呪いでも一度だけは無効化できるという神聖な効果を持っていた。<br/>
        　（魔術を俺に与えても効かないことに面食らったヤツの隙を討つ。それが唯一にして最低限の作戦だ）<br/>
        　簡素でよく整えられて入るものの、どこか蠱惑的な雰囲気の庭に足を踏み入れようとする{{ data.main_character_name }}。その背中に、声をかける者が居た。<br/>
        　<br/>
        「おや、旅人さん。ここに珍しいお花でも咲いていましたか？」<br/>
        　<br/>
        「！！？」
        <br>
        <br>
        <hr>
        <h3 class="text_center"><span class=" text_emphasize"><a href="{% url 'base:status' %}" target="_blank"
                                                                 rel="noopener noreferrer">★ステータスを確認する★</a></span>
        </h3>
        <h3 class="text_center"><span class="transition_link"><a
                href="{% url 'base:content_pages' page_num='2' %}">次に進む</a></span></h3>
    </div>
{% endblock %}