{% extends 'base_app/site_explanation_base.html' %}
{% block title %}このサイトについて - {{ block.super }}{% endblock %}
{% block explanation_content %}
    <div>
        <h1>このサイトについて</h1>
    </div>
    <div class="left">
        <br>
        <p>CSSの練習も兼ねて、<br>
            ショートストーリーを装飾したり画像を挿入して<br>
            良い作品を作れたらな、と思って制作中です。
        </p>
        <p>
            ご意見、ご感想、ご要望はこちらまでお願いします。<br>
            <a href="https://twitter.com/tsfhero">https://twitter.com/tsfhero</a>
        </p>
    </div>
{% endblock %}
{% block js %}
{% endblock %}