{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block meta_tag %}{% endblock %}
    <link href="{% static 'css/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'css/my_custom.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>
        {% block title %}ショートストーリーをCSSデザインしてみよう{% endblock %}
    </title>
</head>
<body id="Normal_body_background" class="Site">
<header class="Site-header">
    <div class="ui stackable inverted menu fixed blue">
        <a href="{% url 'base:index' %}" class="header item ">
            <span class="App_title">ショートストーリーをCSSデザインしてみよう</span>
        </a>
        {% if data.main_character_name %}
            <a href="{% url 'base:index' %}" class="item">
                <i class="icon star"></i>
                {{ data.main_character_name }}のステータス
            </a>
        {% endif %}
        <div class="right menu">
            {% if data.main_character_name %}
                <a href="javascript:void(0)" onclick="confirmResetSession()" class="item">
                    <i class="icon exclamation"></i>
                    リセットしてトップに戻る
                </a>
            {% endif %}
            <a class="item" href="{% url 'base:title' %}"><i class="linkify icon"></i>トップに戻る</a>
            <a class="item" href="{% url 'base:index' %}"><i class="linkify icon"></i>この作品について</a>
        </div>
    </div>
</header>

<main class="Site-content">
    {% block content %}{% endblock %}
</main>

<footer class="Site-footer">
    <div class="ui inverted stackable footer  fixed segment blue">
        <div class="ui container center aligned">
            <div class="ui horizontal inverted small divided link list">
                <a class="item">© ショートストーリーをCSSデザインしてみよう</a>
                <a href="{% url 'base:quote' %}" class="item"><i class="linkify icon"></i>引用元・参考元</a>
                <a href="https://github.com/Tendency-Sweet-Party/DeployAndCSSDesignPrac" class="item"><i
                        class="linkify icon"></i>ソースコード</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
<script>
    //ヘッダーの高さ分だけコンテンツを下げる
    $(function () {
        const height = $(".Site-header").height();
        //10pxだけ余裕をもたせる
        $("body").css("margin-top", height + 10);
    });

    //画面遷移時の警告
    function confirmResetSession() {
        if (confirm('リセットしてトップに戻ります。\nよろしいですか。')) {
            //クエリパラメータにresetを格納し遷移
            window.location.href = "{% url 'base:title' %}?reset=True";
        }
        return false;
    }
</script>
{% block js %}{% endblock %}
</body>