{% extends 'base_app/base.html' %}
{% block title %}タイトル - {{ block.super }}{% endblock %}
{% block content %}
    <div id="Title" class="ui container">
        <h1>（仮）主人公くんがいろんな変化させられる物語</h1>
        <h2>──── ショートストーリーをCSSデザインしてみよう ────</h2>
        <div class="ui stackable grid">
            <div class="five wide column"></div>
            <div class="six wide column what_is_this">
                <ul>
                    <li>
                        自作のショートストーリーにCSSのデザインをつけたりする練習です。
                    </li>
                    <li>
                        初期設定を選択できる方法やステータス画面の機能をつけてゲーム風にしました。
                    </li>
                    <li>
                        作品タグとしては<span class="text_emphasize">TS、弱体化、精神変化、状態異常、状態変化</span>などです。
                    </li>
                    <li>
                        エンディング分岐を実装中です。<br>
                        現在エンディング数：1個
                    </li>
                </ul>
            </div>
            <div class="five wide column"></div>
        </div>
        <form class="ui form" action="" method="POST">
            <fieldset>
                {% csrf_token %}
                {% for field in setting_component %}
                    <div class="field">
                        <p>{{ field }}</p>
                        <label> {{ field.help_text | safe }}</label>
                    </div>
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="ui blue button " name="next" value="create">Create a Story.</button>
            </fieldset>
        </form>
    </div>
{% endblock %}