{% extends 'base_app/base.html' %}
{% block content %}
    <div id="Main" class="ui container">
        {#サイドバー#}
        <div class="ui grid stackable">
            <div class="one wide column ">
                <div class="Arrows_area">
                    <a href="" class="Arrows_child"><i class="chevron circle left icon"></i>prev</a>
                </div>
            </div>
            <div class="four wide column">
                <div id="Summary_box">
                    It's summary.長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト<br>
                    It's summary.<br>
                    It's summary.<br>
                    It's summary.<br>
                    {% block summary %}
                    {% endblock %}
                </div>
            </div>
            <div class="ten wide column">
                <div id="Normal_text_area">
                    ここに文章が入ります。長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト長さのテスト<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    ここに文章が入ります。<br><br>
                    {% block text_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="one wide column ">
                <div class="Arrows_area">
                    <a href="" class="Arrows_child"><i class="chevron circle right icon"></i>next</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}